<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <% load static %>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static './CSS/global.css'%}" />
    <link rel="stylesheet" href="{% static './CSS/Customer.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="customer4">
      <div class="group-parent30">
        <div class="group-parent31">
          <div class="group-parent31">
            <div class="group-parent31">
              <div class="group-child56"></div>
            </div>
          </div>
          <div class="group-parent32">
            <img class="group-child57" alt="" src="{% static './public/group-273.svg'%}" />

            <div class="datestamp4"></div>
          </div>
        </div>
        <div class="vector-parent5">
          <img class="group-child58" alt="" src="{% static './public/rectangle-12.svg'%}" />

          <div class="group-parent33">
            <img class="group-child59" alt="" src="{% static './public/group-11.svg'%}" />

            <div class="about-us-parent2">
              <div class="about-us8">
                <p class="about-us9">About Us</p>
              </div>
              <div class="help4">Help</div>
              <div class="faqs4">FAQs</div>
            </div>
          </div>
        </div>
        <div class="group-parent34">
          <div class="group-parent35">
            <div class="rectangle-wrapper5">
              <div class="group-child60"></div>
            </div>
            <div class="group-parent36">
              <div class="group-wrapper22">
                <div class="group-wrapper22">
                  <div class="group-wrapper22">
                    <div class="group-child61"></div>
                    <div class="group-child62"></div>
                    <div class="table-15">
                      <div class="table5">
                        <div class="row50">
                          <div class="cell200">
                            <div class="content203">
                              <div class="text200">Customer Name</div>
                            </div>
                          </div>
                          <div class="cell200">
                            <div class="content203">
                              <div class="text200">Gender</div>
                            </div>
                          </div>
                          <div class="cell200">
                            <div class="content203">
                              <div class="text200">Address</div>
                            </div>
                          </div>
                          <div class="cell200">
                            <div class="content203">
                              <div class="text200">Contact</div>
                            </div>
                          </div>
                        </div>
                        <div class="row50">
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row50">
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row50">
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row50">
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row50">
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row50">
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row50">
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row50">
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row50">
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                          <div class="cell204">
                            <div class="content203">
                              <div class="text204"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="customer5">Customer</div>
            </div>
          </div>
          <div class="modern-medium-base3">
            <div class="content243">
              <b class="button3">Add Customer</b>
              <img
                class="icon-medium3"
                alt=""
                src="{% static './public/icon--medium.svg'%}"
              />
            </div>
          </div>
          <div class="group-parent37">
            <div class="rectangle-parent10">
              <div class="group-child63"></div>
              <div class="group-child64"></div>
              <div class="group-child65"></div>
              <div class="group-child66"></div>
              <div class="group-child67"></div>
              <div class="group-child68"></div>
            </div>
            <div class="group-wrapper24">
              <div class="first-name-parent">
                <div class="first-name">First Name</div>
                <div class="last-name">Last Name</div>
                <div class="address1">Address</div>
                <div class="contact1">Contact</div>
                <div class="date-of-birth">Date of Birth</div>
                <div class="gender">Gender</div>
              </div>
            </div>
          </div>
          <div class="add-new-customer">Add New Customer</div>
        </div>
      </div>
      <div class="group-parent38">
        <div class="vector-parent6">
          <img class="vector-parent6" alt="" src="{% static './public/rectangle-391.svg'%}" />

          <div class="group-wrapper25">
            <div class="group-parent39">
              <div class="dashboard-wrapper2">
                <div class="dashboard5">Dashboard</div>
              </div>
              <div class="warehouse-wrapper2">
                <div class="dashboard5">Warehouse</div>
              </div>
              <div class="vendor-wrapper2">
                <div class="dashboard5">Vendor</div>
              </div>
              <div class="customer-wrapper2">
                <div class="dashboard5">Customer</div>
              </div>
              <div class="solarmoney-bag-bold-parent2">
                <img
                  class="solarmoney-bag-bold-icon4"
                  alt=""
                  src="{% static './public/solarmoneybagbold.svg'%}"
                />

                <div class="transaction7">Transaction</div>
              </div>
              <div class="product-wrapper2">
                <div class="dashboard5">Product</div>
              </div>
              <div class="stock-order-wrapper2">
                <div class="dashboard5">Stock Order</div>
              </div>
            </div>
          </div>
        </div>
        <img class="group-child70" alt="" src="{% static './public/group-593.svg'%}" />
      </div>
    </div>
  </body>
</html>
