<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static './CSS/global.css'%}" />
    <link rel="stylesheet" href="{% static './CSS/Dashboard.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="dashboard2">
      <div class="dashboard-inner">
        <div class="group-child25"></div>
      </div>
      <div class="group-parent15">
        <img class="group-child26" alt="" src="{% static './public/group-271.svg'%}" />

        <div class="datestamp2"></div>
      </div>
      <div class="vector-parent2">
        <img class="group-child27" alt="" src="{% static './public/rectangle-12.svg'%}" />

        <div class="group-parent16">
          <img class="group-child28" alt="" src="{% static './public/group-11.svg'%}" />

          <div class="about-us-container">
            <div class="about-us4">
              <p class="about-us5">About Us</p>
            </div>
            <div class="help2">Help</div>
            <div class="faqs2">FAQs</div>
          </div>
        </div>
      </div>
      <div class="group-parent17">
        <div class="group-wrapper11">
          <div class="group-wrapper11">
            <div class="group-wrapper11">
              <div class="group-child29"></div>
              <div class="group-child30"></div>
              <div class="table-12">
                <div class="table2">
                  <div class="row20">
                    <div class="cell80">
                      <div class="content82">
                        <div class="text80">Customer ID</div>
                      </div>
                    </div>
                    <div class="cell80">
                      <div class="content82">
                        <div class="text80">Product Name</div>
                      </div>
                    </div>
                    <div class="cell80">
                      <div class="content82">
                        <div class="text80">Transaction Date</div>
                      </div>
                    </div>
                    <div class="cell80">
                      <div class="content82">
                        <div class="text80">Time</div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group-wrapper13">
          <div class="group-wrapper11">
            <div class="group-wrapper11">
              <div class="group-child29"></div>
              <div class="group-child30"></div>
              <div class="table-12">
                <div class="table2">
                  <div class="row20">
                    <div class="cell80">
                      <div class="content82">
                        <div class="text80">SN</div>
                      </div>
                    </div>
                    <div class="cell80">
                      <div class="content82">
                        <div class="text80">Product A</div>
                      </div>
                    </div>
                    <div class="cell80">
                      <div class="content82">
                        <div class="text80">Product B</div>
                      </div>
                    </div>
                    <div class="cell80">
                      <div class="content82">
                        <div class="text80">Number of Cross-Sales</div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row20">
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                    <div class="cell84">
                      <div class="content82">
                        <div class="text84"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group-parent18">
        <div class="rectangle-parent5">
          <div class="group-child33"></div>
          <div class="group-child34"></div>
          <div class="summary">Summary</div>
        </div>
        <div class="rectangle-parent6">
          <div class="group-child35"></div>
          <div class="parent">
            <b class="b">00</b>
            <div class="group-child36"></div>
            <b class="b1">00</b>
            <div class="group-child37"></div>
            <b class="b2">00</b>
            <b class="total-product">Total Product</b>
            <b class="out-of-stock">Out of Stock Product</b>
            <b class="low-stock-product">Low Stock Product</b>
            <img class="vector-icon" alt="" src="{% static './public/vector.svg'%}" />

            <img class="vector-icon1" alt="" src="{% static './public/vector1.svg'%}" />

            <img class="vector-icon2" alt="" src="{% static './public/vector2.svg'%}" />
          </div>
        </div>
      </div>
      <div class="group-parent19">
        <div class="rectangle-wrapper1">
          <div class="group-child38"></div>
        </div>
        <div class="group-wrapper15">
          <div class="group-parent20">
            <div class="dashboard-frame">
              <div class="dashboard3">Dashboard</div>
            </div>
            <div class="warehouse-frame">
              <div class="dashboard3">Warehouse</div>
            </div>
            <div class="vendor-frame">
              <div class="vendor2" id="vendorText">Vendor</div>
            </div>
            <div class="customer-frame" id="groupContainer20">
              <div class="dashboard3">Customer</div>
            </div>
            <div class="solarmoney-bag-bold-container">
              <img
                class="solarmoney-bag-bold-icon2"
                alt=""
                src="{% static './public/solarmoneybagbold.svg'%}"
                id="solarmoneyBagBoldIcon"
              />

              <div class="transaction5">Transaction</div>
            </div>
            <div class="product-frame">
              <div class="dashboard3">Product</div>
            </div>
            <div class="stock-order-frame">
              <div class="dashboard3">Stock Order</div>
            </div>
          </div>
        </div>
        <img class="group-child39" alt="" src="{% static './public/group-592.svg'%}" />
      </div>
    </div>

    <script>
      var vendorText = document.getElementById("vendorText");
      if (vendorText) {
        vendorText.addEventListener("click", function (e) {
          window.location.href = "./templates/Vendor.html";
        });
      }
      
      var groupContainer20 = document.getElementById("groupContainer20");
      if (groupContainer20) {
        groupContainer20.addEventListener("click", function (e) {
          window.location.href = "./templates/Customer.html";
        });
      }
      
      var solarmoneyBagBoldIcon = document.getElementById("solarmoneyBagBoldIcon");
      if (solarmoneyBagBoldIcon) {
        solarmoneyBagBoldIcon.addEventListener("click", function (e) {
          window.location.href = "./templates/Transaction.html";
        });
      }
      </script>
  </body>
</html>
