<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    {% load static %}
    <link rel="stylesheet" href="{% static './CSS/global.css'%}" />
    <link rel="stylesheet" href="{% static './CSS/DepartmentRegistration.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="department-registration">
      <div class="vector-parent12">
        <img class="group-child132" alt="" src="{% static './public/rectangle-12.svg'%}" />

        <div class="group-parent61">
          <img class="group-child133" alt="" src="{% static './public/group-11.svg' %}" />

          <div class="about-us-parent6">
            <div class="about-us16">
              <p class="list-of-departments">About Us</p>
            </div>
            <div class="help8">Help</div>
            <div class="faqs8">FAQs</div>
          </div>
        </div>
      </div>
      <img
        class="department-registration-child"
        alt=""
        src="{% static './public/group-323.svg'%}"
      />

      <div class="datestamp9"></div>
      <div class="group-parent62">
        <div class="group-parent63">
          <div class="rectangle-parent18">
            <div class="group-child134"></div>
            <div class="group-child135"></div>
            <div class="group-child136"></div>
            <div class="group-child137"></div>
            <div class="group-child138"></div>
            <div class="group-child139"></div>
          </div>
          <div class="table9">
            <div class="row90">
              <div class="cell360">
                <div class="content367">
                  <div class="text360">Department ID</div>
                </div>
              </div>
              <div class="cell361">
                <div class="content367">
                  <div class="text360">Department Name</div>
                </div>
              </div>
              <div class="cell361">
                <div class="content367">
                  <div class="text360">Department Type</div>
                </div>
              </div>
              <div class="cell361">
                <div class="content367">
                  <div class="text360">Address</div>
                </div>
              </div>
            </div>
            <div class="row90">
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
            </div>
            <div class="row90">
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
            </div>
            <div class="row90">
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
            </div>
            <div class="row90">
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
              <div class="cell364">
                <div class="content367">
                  <div class="text364"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="modern-medium-base-parent">
            <div class="modern-medium-base7">
              <div class="content387">
                <b class="button7">Add Department</b>
                <img
                  class="icon-medium7"
                  alt=""
                  src="./static/CSS/public/icon--medium.svg"
                />
              </div>
            </div>
            <div class="modern-medium-base8" id="modernMediumBase1">
              <div class="content387">
                <b class="button7">Select Department</b>
                <img
                  class="icon-medium7"
                  alt=""
                  src="{% static './CSS/public/icon--medium.svg'%}"
                />
              </div>
            </div>
          </div>
          <div class="rectangle-parent19">
            <div class="group-child140"></div>
            <div class="group-child141"></div>
            <div class="group-child142"></div>
            <div class="group-child143"></div>
            <div class="group-child144"></div>
            <div class="group-child145"></div>
          </div>
        </div>
        <div class="list-of-departments-parent">
          <b class="list-of-departments-container">
            <span class="list-of-departments-container1">
              <p class="list-of-departments">List of Departments</p>
            </span>
          </b>
          <div class="department-name">Department Name</div>
          <div class="address3">Address</div>
          <div class="contact-person2">Contact Person</div>
          <div class="landline1">Landline</div>
          <div class="mobile2">Mobile</div>
          <div class="department-type">Department Type</div>
        </div>
      </div>
    </div>

    <script>
      var modernMediumBase1 = document.getElementById("modernMediumBase1");
      if (modernMediumBase1) {
        modernMediumBase1.addEventListener("click", function (e) {
          window.location.href = "./templates/Dashboard.html";
        });
      }
      </script>
  </body>
</html>
