<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static%}
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static './CSS/global.css'%}" />
    <link rel="stylesheet" href="{% static './CSS/index.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="purchase">
      <div class="group-parent">
        <div class="group-wrapper">
          <div class="vector-parent">
            <img class="vector-parent" alt="" src="{% static './public/rectangle-12.svg'%}" />

            <div class="group-container">
              <img class="group-item" alt="" src="{% static './public/group-11.svg'%}" />

              <div class="about-us-parent">
                <div class="about-us">
                  <p class="about-us1">About Us</p>
                </div>
                <div class="help">Help</div>
                <div class="faqs">FAQs</div>
              </div>
            </div>
          </div>
        </div>
        <img class="group-inner" alt="" src="{% static './public/group-32.svg'%}" />

        <div class="datestamp"></div>
        <div class="group-div">
          <div class="group-frame">
            <div class="group-frame">
              <div class="group-frame">
                <div class="rectangle-div"></div>
              </div>
            </div>
            <div class="modern-medium-base">
              <div class="content">
                <b class="button">Make Order</b>
                <img
                  class="icon-medium"
                  alt=""
                  src="{% static './public/icon--medium.svg'%}"
                />
              </div>
            </div>
            <div class="group-wrapper1">
              <div class="product-id-parent">
                <div class="product-id-parent">
                  <div class="product-id">Product ID</div>
                  <div class="order-id">Order ID</div>
                  <div class="market-price">Market Price</div>
                  <div class="quantity">Quantity</div>
                  <div class="vendor-id">Vendor ID</div>
                  <div class="purchase-date">Purchase Date</div>
                  <div class="cost-price">Cost Price</div>
                </div>
              </div>
            </div>
            <div class="purchase-table">Purchase Table</div>
          </div>
          <div class="rectangle-parent">
            <div class="group-child1"></div>
            <div class="group-child2"></div>
            <div class="group-child3"></div>
            <div class="group-child4"></div>
            <div class="group-child5"></div>
            <div class="group-child6"></div>
            <div class="group-child7"></div>
          </div>
          <div class="group-parent2">
            <div class="rectangle-group">
              <div class="rectangle-group">
                <div class="rectangle-group">
                  <div class="group-child8"></div>
                  <div class="group-child9"></div>
                  <div class="table-1">
                    <div class="table">
                      <div class="row">
                        <div class="cell">
                          <div class="content1">
                            <div class="text">Product Name</div>
                          </div>
                        </div>
                        <div class="cell">
                          <div class="content1">
                            <div class="text">Vendor</div>
                          </div>
                        </div>
                        <div class="cell">
                          <div class="content1">
                            <div class="text">Quantity</div>
                          </div>
                        </div>
                        <div class="cell">
                          <div class="content1">
                            <div class="text">Purchase Date</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                        <div class="cell4">
                          <div class="content1">
                            <div class="text4"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="purchase1">Purchase</div>
          </div>
        </div>
      </div>
      <div class="group-parent3">
        <div class="vector-group">
          <img class="vector-group" alt="" src="{% static './public/rectangle-39.svg'%}" />

          <div class="group-wrapper5">
            <div class="group-parent4">
              <div class="dashboard-wrapper">
                <div class="dashboard">Dashboard</div>
              </div>
              <div class="warehouse-wrapper">
                <div class="dashboard">Warehouse</div>
              </div>
              <div class="vendor-wrapper">
                <div class="dashboard">Vendor</div>
              </div>
              <div class="customer-wrapper">
                <div class="dashboard">Customer</div>
              </div>
              <div class="product-wrapper">
                <div class="dashboard">Product</div>
              </div>
              <div class="stock-order-wrapper">
                <div class="dashboard">
                  <p class="about-us1">Stock Order</p>
                </div>
              </div>
            </div>
          </div>
          <img class="group-icon" alt="" src="{% static './public/group-59.svg'%}" />
        </div>
        <div class="solarmoney-bag-bold-parent">
          <img
            class="solarmoney-bag-bold-icon"
            alt=""
          src="{% static './public/solarmoneybagbold.svg'%}"
          />

          <div class="transaction">Transaction</div>
        </div>
      </div>
    </div>
  </body>
</html>
