<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static%}
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static './CSS/global.css'%}" />
    <link rel="stylesheet" href="{% static './CSS/Order.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="order">
      <div class="vector-parent10">
        <img class="group-child119" alt="" src="{% static './public/rectangle-12.svg'%}" />

        <div class="group-parent55">
          <img class="group-child120" alt="" src="{% static './public/group-11.svg'%}" />

          <div class="about-us-parent5">
            <div class="about-us14">
              <p class="about-us15">About Us</p>
            </div>
            <div class="help7">Help</div>
            <div class="faqs7">FAQs</div>
          </div>
        </div>
      </div>
      <img class="order-child" alt="" src="{% static './public/group-322.svg'%}" />

      <div class="datestamp8"></div>
      <div class="group-parent56">
        <div class="vector-parent11">
          <img class="vector-parent11" alt="" src="{% static './public/rectangle-39.svg'%}" />

          <div class="group-wrapper34">
            <div class="group-parent57">
              <div class="dashboard-wrapper5">
                <div class="dashboard8">Dashboard</div>
              </div>
              <div class="warehouse-wrapper5">
                <div class="dashboard8">Warehouse</div>
              </div>
              <div class="vendor-wrapper5">
                <div class="dashboard8">Vendor</div>
              </div>
              <div class="customer-wrapper5">
                <div class="dashboard8">Customer</div>
              </div>
              <div class="product-wrapper5">
                <div class="dashboard8">Product</div>
              </div>
              <div class="stock-order-wrapper5">
                <div class="dashboard8">
                  <p class="about-us15">Stock Order</p>
                </div>
              </div>
            </div>
          </div>
          <img class="group-child122" alt="" src="{% static './public/group-59.svg'%}" />
        </div>
        <div class="solarmoney-bag-bold-parent5">
          <img
            class="solarmoney-bag-bold-icon7"
            alt=""
            src="./public/solarmoneybagbold.svg"
          />

          <div class="transaction10">Transaction</div>
        </div>
      </div>
      <div class="group-parent58">
        <div class="group-parent59">
          <div class="group-parent59">
            <div class="group-parent59">
              <div class="group-child123"></div>
            </div>
          </div>
          <div class="modern-medium-base6">
            <div class="content326">
              <b class="button6">Make Order</b>
              <img
                class="icon-medium6"
                alt=""
                src="./public/icon--medium.svg"
              />
            </div>
          </div>
          <div class="group-wrapper36">
            <div class="product-id-container">
              <div class="product-id-container">
                <div class="product-id2">Product ID</div>
                <div class="department-id">Department ID</div>
                <div class="quantity3">Quantity</div>
                <div class="vendor-id1">Vendor ID</div>
                <div class="status">Status</div>
                <div class="order-date">Order Date</div>
              </div>
            </div>
          </div>
          <div class="vendor-order">Vendor Order</div>
        </div>
        <div class="rectangle-parent16">
          <div class="group-child124"></div>
          <div class="group-child125"></div>
          <div class="group-child126"></div>
          <div class="group-child127"></div>
          <div class="group-child128"></div>
          <div class="group-child129"></div>
        </div>
        <div class="group-parent60">
          <div class="group-wrapper38">
            <div class="group-wrapper38">
              <div class="group-wrapper38">
                <div class="group-child130"></div>
                <div class="group-child131"></div>
                <div class="table-18">
                  <div class="table8">
                    <div class="row80">
                      <div class="cell320">
                        <div class="content327">
                          <div class="text320">Product Name</div>
                        </div>
                      </div>
                      <div class="cell320">
                        <div class="content327">
                          <div class="text320">Vendor</div>
                        </div>
                      </div>
                      <div class="cell320">
                        <div class="content327">
                          <div class="text320">Quantity</div>
                        </div>
                      </div>
                      <div class="cell320">
                        <div class="content327">
                          <div class="text320">Status</div>
                        </div>
                      </div>
                    </div>
                    <div class="row80">
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row80">
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row80">
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row80">
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row80">
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row80">
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row80">
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row80">
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row80">
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                      <div class="cell324">
                        <div class="content327">
                          <div class="text324"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="purchase2">Purchase</div>
        </div>
      </div>
    </div>
  </body>
</html>
