<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static './CSS/global.css'%}" />
    <link rel="stylesheet" href="{% static './CSS/Product.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="product6">
      <div class="group-parent49">
        <div class="vector-parent9">
          <img class="group-child85" alt="" src="{% static './public/rectangle-121.svg'%}" />

          <div class="group-parent50">
            <img class="group-child86" alt="" src="{% static './public/group-111.svg'%}" />

            <div class="about-us-parent4">
              <div class="about-us12">
                <p class="about-us13">About Us</p>
              </div>
              <div class="help6">Help</div>
              <div class="faqs6">FAQs</div>
            </div>
          </div>
        </div>
        <img class="group-child87" alt="" src="{% static './public/group-321.svg'%}" />

        <div class="datestamp6"></div>
      </div>
      <div class="group-parent51">
        <div class="rectangle-parent13">
          <div class="group-child88"></div>
          <div class="group-child89"></div>
          <div class="group-child90"></div>
          <div class="group-child91"></div>
          <div class="group-child92"></div>
          <div class="group-child93"></div>
          <div class="group-child94"></div>
          <div class="group-child95"></div>
          <div class="group-child96"></div>
        </div>
        <div class="modern-medium-base5">
          <div class="content285">
            <b class="button5">Add Product</b>
            <img class="icon-medium5" alt="" src="{% static './public/icon--medium.svg'%}" />
          </div>
        </div>
        <div class="rectangle-parent14">
          <div class="group-child97"></div>
          <div class="group-child98"></div>
          <div class="group-child99"></div>
          <div class="group-child100"></div>
          <div class="group-child101"></div>
          <div class="group-child102"></div>
          <div class="group-child103"></div>
          <div class="group-child104"></div>
          <div class="group-child105"></div>
          <div class="group-child106"></div>
          <div class="group-child107"></div>
          <img class="group-child108" alt="" src="{% static './public/rectangle-28.svg'%}" />

          <div class="group-child109"></div>
        </div>
        <div class="product-name-parent">
          <div class="product-name">Product Name</div>
          <div class="batch-number">Batch Number</div>
          <div class="manufacturing-date">Manufacturing Date</div>
          <div class="width">Width</div>
          <div class="height">Height</div>
          <div class="category-type">Category Type</div>
        </div>
        <div class="quantity-parent">
          <div class="quantity2">Quantity</div>
          <div class="expiry-date">Expiry Date</div>
          <div class="length">Length</div>
          <div class="weight">Weight</div>
          <div class="color">Color</div>
          <div class="price">Price</div>
          <div class="image">Image</div>
          <div class="group-child110"></div>
          <div class="group-child111"></div>
          <div class="group-child112"></div>
          <div class="group-child113"></div>
          <div class="group-child114"></div>
        </div>
      </div>
      <div class="group-parent52">
        <div class="group-wrapper31">
          <div class="group-wrapper31">
            <div class="group-wrapper31">
              <div class="group-child115"></div>
              <div class="group-child116"></div>
              <div class="table-17">
                <div class="table7">
                  <div class="row70">
                    <div class="cell280">
                      <div class="content286">
                        <div class="text280">SN</div>
                      </div>
                    </div>
                    <div class="cell280">
                      <div class="content286">
                        <div class="text280">Product Name</div>
                      </div>
                    </div>
                    <div class="cell280">
                      <div class="content286">
                        <div class="text280">Quantity Available</div>
                      </div>
                    </div>
                    <div class="cell280">
                      <div class="content286">
                        <div class="text280">Batch Number</div>
                      </div>
                    </div>
                  </div>
                  <div class="row70">
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row70">
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row70">
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row70">
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row70">
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row70">
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row70">
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row70">
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row70">
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                    <div class="cell284">
                      <div class="content286">
                        <div class="text284"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-table">Product Table</div>
      </div>
      <div class="add-product-into">Add product into your inventory</div>
      <img class="product-child" alt="" src="{% static './public/group-11.svg'%}" />

      <div class="datestamp7"></div>
      <div class="group-parent53">
        <div class="rectangle-wrapper8">
          <div class="group-child117"></div>
        </div>
        <div class="group-wrapper33">
          <div class="group-parent54">
            <div class="dashboard-wrapper4">
              <div class="dashboard7">Dashboard</div>
            </div>
            <div class="warehouse-wrapper4">
              <div class="dashboard7">Warehouse</div>
            </div>
            <div class="vendor-wrapper4">
              <div class="dashboard7">Vendor</div>
            </div>
            <div class="customer-wrapper4">
              <div class="dashboard7">Customer</div>
            </div>
            <div class="solarmoney-bag-bold-parent4">
              <img
                class="solarmoney-bag-bold-icon6"
                alt=""
                src="{% static './public/solarmoneybagbold.svg'%}"
              />

              <div class="transaction9">Transaction</div>
            </div>
            <div class="product-wrapper4">
              <div class="dashboard7">Product</div>
            </div>
            <div class="stock-order-wrapper4">
              <div class="dashboard7">Stock Order</div>
            </div>
          </div>
        </div>
        <img class="group-child118" alt="" src="{% static './public/group-592.svg'%}" />
      </div>
      <img class="product-item" alt="" src="{% static './public/group-87.svg'%}" />
    </div>
  </body>
</html>
