<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static './CSS/global.css'%}" />
    <link rel="stylesheet" href="{% static './CSS/Warehouse.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="warehouse5">
      <div class="group-parent40">
        <div class="group-parent40">
          <div class="group-parent40">
            <div class="group-child71"></div>
          </div>
        </div>
        <div class="group-parent41">
          <img class="group-child72" alt="" src="{% static './public/group-274.svg'%}" />

          <div class="datestamp5"></div>
        </div>
      </div>
      <div class="vector-parent7">
        <img class="group-child73" alt="" src="{% static './public/rectangle-12.svg'%}" />

        <div class="group-parent42">
          <img class="group-child74" alt="" src="{% static './public/group-11.svg'%}" />

          <div class="about-us-parent3">
            <div class="about-us10">
              <p class="about-us11">About Us</p>
            </div>
            <div class="help5">Help</div>
            <div class="faqs5">FAQs</div>
          </div>
        </div>
      </div>
      <div class="group-parent43">
        <div class="group-parent44">
          <div class="rectangle-wrapper7">
            <div class="group-child75"></div>
          </div>
          <div class="group-parent45">
            <div class="group-wrapper27">
              <div class="group-wrapper27">
                <div class="group-wrapper27">
                  <div class="group-child76"></div>
                  <div class="group-child77"></div>
                  <div class="table-16">
                    <div class="table6">
                      <div class="row60">
                        <div class="cell240">
                          <div class="content244">
                            <div class="text240">Warehouse Name</div>
                          </div>
                        </div>
                        <div class="cell240">
                          <div class="content244">
                            <div class="text240">Contact Person</div>
                          </div>
                        </div>
                        <div class="cell240">
                          <div class="content244">
                            <div class="text240">Address</div>
                          </div>
                        </div>
                        <div class="cell240">
                          <div class="content244">
                            <div class="text240">Contact</div>
                          </div>
                        </div>
                      </div>
                      <div class="row60">
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row60">
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row60">
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row60">
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row60">
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row60">
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row60">
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row60">
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row60">
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                        <div class="cell244">
                          <div class="content244">
                            <div class="text244"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="warehouse6">Warehouse</div>
          </div>
        </div>
        <div class="modern-medium-base4">
          <div class="content284">
            <b class="button4">Add Warehouse</b>
            <img class="icon-medium4" alt="" src="{% static'./public/icon--medium.svg'%}" />
          </div>
        </div>
        <div class="group-parent46">
          <div class="rectangle-parent12">
            <div class="group-child78"></div>
            <div class="group-child79"></div>
            <div class="group-child80"></div>
            <div class="group-child81"></div>
            <div class="group-child82"></div>
          </div>
          <div class="group-wrapper29">
            <div class="warehouse-name-parent">
              <div class="warehouse-name">Warehouse Name</div>
              <div class="address2">Address</div>
              <div class="contact-person1">Contact Person</div>
              <div class="landline">Landline</div>
              <div class="mobile1">Mobile</div>
            </div>
          </div>
        </div>
        <div class="add-new-warehouse">Add New Warehouse</div>
      </div>
      <div class="group-parent47">
        <div class="vector-parent8">
          <img class="vector-parent8" alt="" src="{% static './public/rectangle-391.svg'%}" />

          <div class="group-wrapper30">
            <div class="group-parent48">
              <div class="dashboard-wrapper3">
                <div class="dashboard6">Dashboard</div>
              </div>
              <div class="warehouse-wrapper3">
                <div class="dashboard6">Warehouse</div>
              </div>
              <div class="vendor-wrapper3">
                <div class="dashboard6">Vendor</div>
              </div>
              <div class="customer-wrapper3">
                <div class="dashboard6">Customer</div>
              </div>
              <div class="solarmoney-bag-bold-parent3">
                <img
                  class="solarmoney-bag-bold-icon5"
                  alt=""
                  src="{% static './public/solarmoneybagbold.svg'%}"
                />

                <div class="transaction8">Transaction</div>
              </div>
              <div class="product-wrapper3">
                <div class="dashboard6">Product</div>
              </div>
              <div class="stock-order-wrapper3">
                <div class="dashboard6">Stock Order</div>
              </div>
            </div>
          </div>
        </div>
        <img class="group-child84" alt="" src="{% static './public/group-594.svg'%}" />
      </div>
    </div>
  </body>
</html>
