.group-item {
  position: absolute;
  height: 15.5%;
  width: 9.73%;
  top: 84.5%;
  right: 0;
  bottom: 0;
  left: 90.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about-us1 {
  margin: 0;
}
.about-us,
.faqs,
.help {
  position: absolute;
  top: 3px;
  left: 0;
  display: inline-block;
  width: 190px;
  height: 75px;
}
.faqs,
.help {
  top: 0;
  left: 341px;
  width: 223px;
}
.faqs {
  left: 616px;
}
.about-us-parent,
.group-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 839px;
  height: 78px;
}
.group-container {
  height: 47.43%;
  width: 88.47%;
  top: 26.1%;
  right: 3.13%;
  bottom: 26.47%;
  left: 8.4%;
}
.group-inner,
.group-wrapper,
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 272px;
}
.group-inner,
.group-wrapper {
  top: 1024px;
}
.group-inner {
  top: 0;
  height: 107.62px;
}
.datestamp {
  position: relative;
  width: 287px;
  height: 60px;
}
.rectangle-div {
  border-radius: var(--br-xl);
  background-color: var(--color-aliceblue);
}
.group-frame,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1210px;
  height: 890px;
}
.button {
  position: relative;
  line-height: 24px;
}
.icon-medium {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
}
.content,
.modern-medium-base {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.modern-medium-base {
  position: absolute;
  top: 393px;
  left: 388px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumblue);
  box-shadow: 0 4px 12px rgba(28, 78, 254, 0.2);
  border: 4px solid var(--color-cornflowerblue-100);
  box-sizing: border-box;
  height: 55.65px;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-5xl);
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.cost-price,
.market-price,
.order-id,
.product-id,
.purchase-date,
.quantity,
.vendor-id {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 198px;
  height: 42.09px;
}
.cost-price,
.market-price,
.order-id,
.purchase-date,
.quantity,
.vendor-id {
  top: 80.07px;
}
.cost-price,
.market-price,
.purchase-date,
.quantity,
.vendor-id {
  top: 143.14px;
  left: 568px;
}
.cost-price,
.purchase-date,
.quantity,
.vendor-id {
  top: 232.14px;
}
.cost-price,
.purchase-date,
.vendor-id {
  top: 63.14px;
  left: 570px;
}
.cost-price,
.purchase-date {
  top: 234.13px;
  left: 0;
}
.cost-price {
  top: 151.93px;
  width: 120px;
  height: 24.64px;
}
.group-wrapper1,
.product-id-parent,
.purchase-table {
  position: absolute;
  top: 0;
  left: 0;
  width: 768px;
  height: 276.22px;
}
.group-wrapper1,
.purchase-table {
  top: 110.87px;
  left: 31px;
}
.purchase-table {
  top: 16.42px;
  left: 125px;
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  width: 358px;
  height: 45.17px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.group-child7 {
  position: absolute;
  top: -2px;
  left: -2px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 762px;
  height: 53px;
}
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.group-child7 {
  top: 78px;
  width: 346px;
}
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.group-child7 {
  top: 242px;
}
.group-child4,
.group-child5,
.group-child6,
.group-child7 {
  top: 162px;
}
.group-child5,
.group-child6,
.group-child7 {
  top: 160px;
  left: 556px;
  width: 204px;
}
.group-child6,
.group-child7 {
  top: 242px;
}
.group-child7 {
  top: 78px;
}
.rectangle-parent {
  position: absolute;
  top: 87px;
  left: 205px;
  width: 758px;
  height: 293px;
}
.group-child8,
.group-child9 {
  position: absolute;
  border-radius: var(--br-8xs);
}
.group-child8 {
  top: -0.5px;
  left: -0.5px;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 987.19px;
  height: 399px;
}
.group-child9 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 986.19px;
  height: 47.63px;
}
.text {
  flex: 1;
  position: relative;
  line-height: 130%;
  font-weight: 600;
}
.content1 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
  justify-content: flex-start;
}
.cell,
.content1,
.row {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.cell {
  background-color: var(--color-gray-200);
  border-top: 1px solid var(--color-silver-100);
  border-left: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 240px;
  flex-direction: column;
  justify-content: flex-end;
}
.row {
  background-color: var(--color-gray-300);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
}
.text4 {
  flex: 1;
  position: relative;
  line-height: 130%;
}
.cell4,
.table,
.table-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cell4 {
  align-self: stretch;
  background-color: var(--color-gray-300);
  border-top: 1px solid var(--color-silver-100);
  border-left: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 240px;
  justify-content: flex-end;
}
.table,
.table-1 {
  justify-content: flex-start;
}
.table {
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  overflow: hidden;
}
.table-1 {
  position: absolute;
  top: 47.57px;
  left: 13.99px;
}
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 986.19px;
  height: 407.57px;
}
.purchase1 {
  position: absolute;
  top: 6px;
  left: 37px;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  width: 355px;
}
.group-div,
.group-parent2 {
  position: absolute;
  top: 466px;
  left: 65px;
  width: 986.19px;
  height: 407.57px;
  font-size: var(--font-size-xs);
}
.group-div {
  top: 121px;
  left: 220px;
  width: 1210px;
  height: 890px;
  font-size: var(--font-size-xl);
}
.dashboard,
.group-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1296px;
}
.dashboard {
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  width: 137px;
  height: 43.09px;
}
.dashboard-wrapper,
.vendor-wrapper,
.warehouse-wrapper {
  position: absolute;
  top: 0;
  left: 7px;
  width: 137px;
  height: 43.09px;
}
.vendor-wrapper,
.warehouse-wrapper {
  top: 68.15px;
  left: 1px;
}
.vendor-wrapper {
  top: 203.96px;
  left: 0;
}
.customer-wrapper,
.product-wrapper,
.stock-order-wrapper {
  position: absolute;
  top: 349.76px;
  left: 0;
  width: 137px;
  height: 43.09px;
}
.product-wrapper,
.stock-order-wrapper {
  top: 136.3px;
}
.stock-order-wrapper {
  top: 274.96px;
}
.group-icon,
.group-parent4,
.group-wrapper5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 144px;
  height: 392.85px;
}
.group-icon,
.group-wrapper5 {
  top: 16px;
  left: 54px;
}
.group-icon {
  height: 41.05%;
  width: 11.74%;
  top: 1.73%;
  right: 78.87%;
  bottom: 57.22%;
  left: 9.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 213px;
  height: 923px;
}
.solarmoney-bag-bold-icon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.transaction {
  position: absolute;
  top: 0;
  left: 33px;
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  width: 137px;
  height: 43.09px;
}
.group-parent3,
.solarmoney-bag-bold-parent {
  position: absolute;
  top: 432px;
  left: 21px;
  width: 170px;
  height: 43.09px;
}
.group-parent3 {
  top: 101px;
  left: 0;
  width: 213px;
  height: 923px;
  font-size: var(--font-size-xl);
}
.purchase {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1296px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
